.content {
    background-color: rgb(249, 249, 249);
    height: 120vh;
    display: flex;
    position: relative; /* Add this for z-index stacking context */
  }
  
  .carousel {
    width: 55vw;
    margin: 0 auto;
    z-index: 1;
    padding-top:30vh;
  }
  
  .specialties-title {
    display: flex;
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; 
    z-index: 2;
    font-size:2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  .carousel-item-content {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .carousel-caption {
    
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left:10em;
    margin-right:10em;
    height: 15em;
    text-align: center;
    align-items: center;
  }
  
  .carousel-caption h3 {
    padding-top:5vh;
    font-size: 24px;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 16px;
    font-style: italic;
    padding-top:2vw;
  }

  .carousel.slide {
height: 100vh;
  }

  .carousel-control-next,
  .carousel-control-prev {
height: 130vh;
  }
  
