.FAQ-container {
    padding-left: 30vw;
    padding-right: 30vw;
    padding-bottom: 20vh;
    justify-content: center;
    display: flex; /* Use flexbox to create a two-column layout */
    position: relative;
    z-index: 2;
    background-color: white;
  }

  .FAQ-title {
    justify-content: center;
    display:flex;
    padding-bottom:3vh;
    padding-top:15vh;
    background-color: white;
    position: relative;
  }

  .column-container {
    display:flex;
    width: 300vw; /* Calculate column width (50% minus some spacing) */
    margin: 5px; /* Add some margin between columns */
    padding-left: 50px; /* Add padding for spacing inside columns */
    padding-right: 50px;
    
  }
  
  /*column inner container is .styles_faq-row-wrapper__3vA1D*/

  /*Question container (within column inner container)*/
  .styles_faq-row__2YF3c {
   
    padding-top: 100px;
    width:30vw;
    margin:70px;
  }
  
  
  