.Parallax {
    background-image: url('../Assets/HeroImage3.jpg'); /* Your full-screen background image */
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position:relative;
}