.NavHeadings {
width: initial;
display: flex;
flex-direction: row;
justify-content:center;
padding-top: 2%;
padding-bottom: 2%;
position:fixed;
margin: 0;
align-items: center;
z-index:3;
top:0;
left:0;
right:0;
list-style-type: none;
font-family: Verdana, Tahoma, sans-serif;
font-size:small;
background: rgba(71, 71, 71, 0.5);

}

.Title {
   font-size: larger;
   padding-right:40%;
   font-weight:bold ;
   color:rgb(2, 0, 26);
   z-index:1;
   cursor: pointer;
}

li {
    color: #d8eefa;
    text-decoration: none;
    padding-left: 1.7vw;
    padding-right: 1.7vw;
    font-size: larger;
    border-bottom: 3px solid transparent; /* Transparent border by default */
    transition: border-color 0.3s ease;
}

li.item:hover { 
    padding-bottom:0;
    border-bottom: 3px solid rgb(157, 206, 247);
    cursor: pointer;
}

